<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .container {
      width: 200px;
      margin: auto;
    }
  </style>
</head>

<body>
  <form class="container" method="post">
    <h3>Хочеш переглянути інформацію по ip?</h3>
    <p>{{data_ip}}</p>
    <button type="#" id="btn">Дізнатися</button>
  </form>

</body>

</html>